<div id="preloader-wrapper" *ngIf="cargando">
  <div class="preloader">
    <div class="spin"></div>
    <div class="txt-loading">
      <span data-text-preloader="C" class="letters-loading">
        C
      </span>
      <span data-text-preloader="A" class="letters-loading">
        A
      </span>
      <span data-text-preloader="R" class="letters-loading">
        R
      </span>
      <span data-text-preloader="G" class="letters-loading">
        G
      </span>
      <span data-text-preloader="A" class="letters-loading">
        A
      </span>
      <span data-text-preloader="N" class="letters-loading">
        N
      </span>
      <span data-text-preloader="D" class="letters-loading">
        D
      </span>
      <span data-text-preloader="O" class="letters-loading">
        O
      </span>
    </div>
  </div>
</div>

<div class="section video_introduction position-relative">
  <div class="bandera_logo_mintic d-flex flex-row justify-content-end align-items-center">
    <img class="logo_mintic" src="../../assets/mintic_logo.svg" alt="">
  </div>
  <div id="logoBiosAnimated"></div>
  <video id="VideoHpc" loop muted data-autoplay data-keepplaying webkit-playsinline="true" playsinline="true"
    autoplay="true">
    <source src="../../assets/video/tecDigital.mp4" type="video/mp4">
  </video>
  <div class="wraper-form p-4 p-3-sm p-md-5 p-lg-5 p-xl-5 p-xxl-5 position-absolute top-50 end-0 translate-middle-y wow animate__fadeIn" data-wow-duration="1.2" data-wow-delay="0.3s">
    <p class="text-center"><img class="logo_tecdigital" src="../../assets/icono_tecdigital.png" alt=""></p>
    <form class="forms-custom login pt-2" novalidate>
      <div class="form-group inner-addon left-addon">
        <input type="text" class="form-control" name="usuario" id="usuario" required
          data-validation-required-message="Porfavor escriba su nombre usuario">
        <i class="fa icon-usuario"></i>
        <span class="form-bar"></span>
        <label class="float-label m-0" for="usuario"><span class="tip_fuen_roboto_l fw-bold">Usuario</span></label>
        <p class="help-block text-danger"></p>
        <div class="valid-feedback"></div>
        <div class="invalid-feedback">
          <span class="txt_xs tip_fuen_roboto_l">Por favor ingresa tu usuario</span>
        </div>
      </div>
      <div class="form-group inner-addon left-addon mt-5">
        <input type="password" class="form-control" name="contrasena" id="contrasena" required
          data-validation-required-message="Porfavor escriba su contraseña" autocomplete>
        <span class="fa icon-contrasena"></span>
        <span class="form-bar"></span>
        <label class="float-label m-0" for="contrasena"><span
            class="tip_fuen_roboto_l fw-bold">Contraseña</span></label>
        <p class="help-block text-danger"></p>
        <div class="valid-feedback"></div>
        <div class="invalid-feedback">
          <span class="txt_xs tip_fuen_roboto_l">Por favor ingresa tu contraseña</span>
        </div>
      </div>
      <div class="d-grid gap-2 d-flex flex-column flex-sm-row justify-content-sm-center mt-2 pt-0 mt-sm-4 pt-sm-3">
        <a class="text-center text-sm-start" routerLink="/recoverpassword"><span
            class="txt_color_negro txt_sm tip_fuen_roboto_l fw-bold">Olvido la
            contraseña?
          </span>
        </a>
      </div>
      <div class="d-grid gap-2 d-flex justify-content-center mt-4 mt-sm-4 mt-md-4 mt-lg-4 mt-xl-4 mt-xxl-4">
        <button type="submit" class="btn btn-primary"><span
            class="txt_md tip_fuen_roboto_l fw-bold">Iniciar</span></button>
      </div>
    </form>
  </div>
</div>
