<nav id="sidebar-dashboard">
  <div class="sidebar-dashboard-header">
    <div class="row">
      <div class="col-12 d-flex flex-row justify-content-between align-items-center align-self-stretch">
        <h2 class="txt_sm txt_color_negro tip_fuen_roboto_l fw-bold mb-0 pb-0"> Filtros seleccionados</h2>
        <div id="dismiss">
          <i class="fa icon-icono-cerrar-barra-lateral"></i>
        </div>
      </div>
      <div class="col-12 pt-3">
        <div class="d-flex flex-wrap">
          <div
            class="p-1 ms-1 mt-1 bg_azul_oscuro d-flex flex-row justify-content-between align-items-center align-self-center"
            [hidden]="aFiltrosSeleccionados.length==0" *ngFor="let filtro of aFiltrosSeleccionados"><span
              class="txt_xs txt_color_blanco tip_fuen_roboto_l pe-2">{{filtro.dropdownValue}}</span>
            <i class="close fa icon-icono-cerrar pt-1 pb-1 set_cursor"
              (click)="fn_removeFilter(filtro.dropdownName)"></i></div>
        </div>
        <div class="d-flex flex-row justify-content-center align-items-center align-self-center"
          *ngIf="aFiltrosSeleccionados.length==0">
          <p class="pb-0 mb-0 me-0 ms-0 tip_fuen_roboto_l txt_color_negro txt_xs m-auto lh-sm">No has seleccionado ningun filtro</p>
        </div>
      </div>
    </div>
  </div>

  <div class="accordion" id="accordionPanelsStayOpenExample">
    <div class="accordion-item border-0 rounded-0">
      <h2 class="accordion-header border-0 rounded-0" id="panelsStayOpen-headingOne">
        <button class="accordion-button border-0 rounded-0" type="button" data-bs-toggle="collapse"
          data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
          <span class="txt_sm tip_fuen_roboto_l">Fecha de registro</span>
        </button>
      </h2>
      <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show border-0 rounded-0"
        aria-labelledby="panelsStayOpen-headingOne">
       
        <div class="accordion-body border-0 rounded-0 ps-3 pt-0 pb-4">
          <div class="pl-0 pl-sm-0 pl-md-0 pl-lg-0 pl-xl-0 filters-dashboard mx-auto mt-2 mb-2">
            <div
              class="form-group inner-addon left-addon mt-2 mb-2 mt-sm-2 mb-sm-2 mt-md-2 mb-md-2 mt-lg-2 mb-lg-2 mt-xl-0 mb-xl-0">
              <input type="date" class="form-control" name="date-end" id="date-end" [(ngModel)]="dateFinFilter"
              (change)="fn_setFilter('dateFinFilter',dateFinFilter)" required
                      data-validation-required-message="">
              <!--<i class="fa icon-icono-semana"></i>-->
              <span class="form-bar"></span>
              <label class="float-label m-0" for="name"><span>Fecha final</span></label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion-item border-0 rounded-0">
      <h2 class="accordion-header border-0 rounded-0" id="panelsStayOpen-headingTwo">
        <button class="accordion-button collapsed border-0 rounded-0" type="button" data-bs-toggle="collapse"
          data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
          <span class="txt_sm tip_fuen_roboto_l">Departamento</span>
        </button>
      </h2>
      <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse border-0 rounded-0"
        aria-labelledby="panelsStayOpen-headingTwo">
        <div class="accordion-body border-0 rounded-0 ps-3 pt-4 pb-4">
          <div class="pl-0 pl-sm-0 pl-md-0 pl-lg-0 pl-xl-0 filters-dashboard mx-auto mt-2 mb-2">
            <div
              class="form-group inner-addon left-addon mt-2 mb-2 mt-sm-2 mb-sm-2 mt-md-2 mb-md-2 mt-lg-2 mb-lg-2 mt-xl-0 mb-xl-0">
              <select class="form-control form-select" id="selectDepartamento" [(ngModel)]="deptoFilter"
                (change)="fn_setFilter('deptoFilter',deptoFilter)" required>
                <option hidden></option>
                <option [value]="item" *ngFor="let item of aArray2">{{item}}</option>
              </select>
              <i class="fa icon-icono-mapa-colombia"></i>
              <span class="form-bar"></span>
              <label class="float-label m-0" for="name"><span>Departamento</span></label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <p class="text-center mt-0 mb-0"><button type="submit" class="btn bg_azul_oscuro btn-sm" (click)="aplicarFiltros()" 
      [disabled]="!(deptoFilter !== null || dateFinFilter !== null)"><span class="txt_xs tip_fuen_roboto_l fw-bold txt_color_blanco">Aplicar</span></button></p>
  </div>
</nav>